body {
	font-size: 18px;
	overflow-x: hidden;

}

@import "colors";

.app {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	height: fit-content;
	align-items: center;

}

h1,
h2,
h3,
h4,
h5 {
	color: $veryDarkBlue;
	width: fit-content;
	text-align: center;
}
p {
	color: $grayishBlue;
}
*{
	-webkit-tap-highlight-color: transparent;
}