@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
* {
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.transition-enter {
	opacity: 0;
}
.transition-enter-active {
	opacity: 1;
	transition: opacity 200ms;
}
.transition-exit {
	opacity: 1;
}
.transition-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}
